# Python

[**Python**](https://www.python.org/) ist eine Programmiersprache. Sie ist sehr gut für den Einstieg in die Programmierung geeignet. Python besitzt eine umfrangreiche Standardbibliothek und wird von einer aktiven Community gepflegt und ständig weiterentwickelt. 

Aufgrund ihrer Einfachheit und da es sich um eine interpretierte (gegenüber einer kompilierten) Sprache handelt, wird sie oft als Skriptsprache genutzt. Python unterstützt aber ebenso andere Programmierparadigmen, wie z.B. objektorientierte oder funktionale Programmierung.

Sowohl in der Wissenschaft als auch in der Wirtschaft hat sich Python mittlerweile zu einer der beliebtesten Programmiersprachen entwickelt. Ein reiches Ökosystem von Drittbibliotheken für numerische Berechnungen, statistische Verfahren und zur Datenvisualisierung macht Python zu einem mächtigen Werkzeug für die Datenanalyse.

### Python 2 oder Python 3?

Aus Gründen, auf die wir hier nicht näher eingehen wollen, gibt es in Python neben der aktuellen Version 3 auch noch viele Bibliotheken, die nur in der Python Version 2 unterstützen.

In diesem Kurs nutzen wir durchgängig die Version **Python 3.8+**.

## Einstieg in die Programmierung mit Python

In diesem Kurs werden wir immer wieder kleine oder auch größere Beispiele in Python programmieren. Deshalb wollen wir jetzt einige Grundlagen der Sprache kurz einführen bzw. wiederholen.

### Kommentare

Kommentare im Code werden vom Python-Interpreter ignoriert. Kommentare werden mit einem **`#`** eingeleitet.

In [11]:
a = 42 # Dies ist ein einzeiliger Kommentar
type(a)
a = 'Text'
type(a)

str

### Variablen

Variablen können einfach angelegt werden. Python nutzt eine sogennante **dynamische Typisierung**, d.h. der Variablentyp wird nicht explizit angegeben. Grundsätzlich kann eine Variable jeden Datentyp aufnehmen.

In [12]:
n = 3  # Eine Integer-Variable
s = 'python'  # Eine String-Variable
f = 12.34  # Eine Float-Variable


st = "python2"

In [14]:
print(type(n), type(s), type(f))


type(st)
len(s)

<class 'int'> <class 'str'> <class 'float'>

6

Variablen können z.B. für einfache arithmetische Operationen genutzt werden.

In [15]:
a = 5
b = 3
c = a + b

print(a-b, a*b, a/b, a//b, a%b)
a%b

2 15 1.6666666666666667 1 2

2

In [16]:
print(a, b, c, sep='.///.')
print(a,b,c)

5.///.3.///.8
5 3 8

In [17]:
# c = texting
print(f'Die Summe von {a} und {b} ist {c}.')

print('Die Summe von {} und {} ist {}.'.format(a, b, c))

print('Die Summe von %d und %d ist %d.' % (a, b, c))

Die Summe von 5 und 3 ist 8.
Die Summe von 5 und 3 ist 8.
Die Summe von 5 und 3 ist 8.

### Listen

[**Listen**](https://docs.python.org/3/tutorial/datastructures.html) sind ein spezieller Variablen-Typ. Sie enthalten, wie der Name schon vermuten lässt, eine Liste von weiteren Variablen.

In [20]:
names = ['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']  # Eine Liste mit Namen als String
ages = [19, 37, 40, 62, 31, 33]  # Eine Liste mit Zahlen als Integer
print(names[-1], names[(len(names)-1)], ages[2])

mixed = [1, [1,2], 'Anton', {1:1}]
print(len(names))
mixed[1][1]

Melissa Melissa 40
6

2

In [21]:
sorted(names, reverse=True)

['Tim', 'Melissa', 'Melanie', 'Jenny', 'Elon', 'Bill']

In [22]:
sum(ages)

222

In [23]:
sorted(ages)

[19, 31, 33, 37, 40, 62]

In [24]:
'?'.join(names) #Alle Einträge werden mit einem Komma verbunden

'Tim?Elon?Jenny?Bill?Melanie?Melissa'

In [25]:
avg_age = sum(ages) / len(ages)
print(f'Das mittlere Alter beträgt {avg_age} Jahre.')

Das mittlere Alter beträgt 37.0 Jahre.

Listen können verschachtelt angelegt werden. Dabei müssen die Typen der einzelnen Einträge nicht identisch sein.

In [27]:
l2 = [6, [1, 2.67, 3], 'python', ['a', 'b']]

l2[1][2]

3

### Dictionaries

Eine weitere sehr gebräuchliche und nützliche Datenstruktur sind [**Dictionaries**](https://docs.python.org/2/tutorial/datastructures.html#dictionaries). Sie ordnen jeweils einem Schlüssel (**_key_**) einen Wert (**_value_**) zu. Dictionaries können ebenfalls verschachtelt angelegt werden.

In [30]:
{'a': 1, 'b': 2, 'a': 12}

{'a': 12, 'b': 2}

In [60]:
d = {'python': 3.6, 62: 'Bill'}

In [61]:
d['python']

3.6

In [62]:
d[62]

'Bill'

In [26]:
d = {'a': {'b': 1, 'c': 3}, "d": 42}
d["a"]["c"]

3

In [39]:
# Probieren Sie Variablen, Listen und Dictionaries einmal selber aus
a = 42
b = 45.234
c = a * b
print("Das Ergebnis lautet: {}".format(c))
print(f"Das Ergebnis lautet: {c}")


alter = [44, 22, 33]
print(max(alter))
type(alter)
#print(sorted(alter))

Das Ergebnis lautet: 1899.828
Das Ergebnis lautet: 1899.828
44

list

In [71]:
l3

NameError: name 'l3' is not defined

### Kontrollstrukturen

So weit so gut, aber um wirklich etwas sinnvolles zu tun, brauchen wir verschiedene Kontrollstrukturen.

#### Einschub: Syntax

Im Gegensatz zu vielen anderen Programmiersprachen, in denen Leerzeichen durch den Compiler oder Interpreter ignoriert werden, spielen diese in Python in der Sprachsyntax eine große Rolle. 

Wie wir in den folgenden Beispielen sehen, werden die Zeilen innerhalb der Kontrollstrukturen eingerückt. Diese Einrückung von 4 Leerzeichen ist wichtig, da sonst der Code nicht interpretiert werden kann. Die Fehlermeldung sieht dann so ähnlich aus wie:

```python
  File "<ipython-input-4-7de823a6cc3a>", line 2
    ...<some code>
        ^
IndentationError: expected an indented block
```

#### Der for-Loop

In [32]:
print(type(names))
names
liste_neu=[]
names

<class 'list'>

['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

In [37]:
names

['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

In [27]:
# Eintrag nach Eintrag
liste_neu = []
for name in names:
    liste_neu.append(name)   
    print(name)

print(names)
liste_neu

Tim
Elon
Jenny
Bill
Melanie
Melissa
['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

In [28]:
while_list = []
i = 0
while i < len(names):
    while_list.append(names[i])
    i += 1
    
print(names)
while_list

['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

['Tim', 'Elon', 'Jenny', 'Bill', 'Melanie', 'Melissa']

In [30]:
enumerate(names)

In [33]:
# Eintrag nach Eintrag mit Zählindex
for idx, name in enumerate(names):
    print(f'{name} ist an Position {idx+1}.')

Tim ist an Position 1.
Elon ist an Position 2.
Jenny ist an Position 3.
Bill ist an Position 4.
Melanie ist an Position 5.
Melissa ist an Position 6.

In [37]:
names, ages
#name_age = dict(zip(names, ages))
#name_age_dict = dict(zip(names, ages))
names.sort()
# sorted(names)
print(names)
print(ages)
#print(name_age)
#print(name_age_dict)

dict(zip(names,ages))

['Bill', 'Elon', 'Jenny', 'Melanie', 'Melissa', 'Tim']
[19, 37, 40, 62, 31, 33]

{'Bill': 19, 'Elon': 37, 'Jenny': 40, 'Melanie': 62, 'Melissa': 31, 'Tim': 33}

**Wichtig:** Listen sowie andere Datenstrukturen in Python beginnen immer mit Position bzw. Index 0!

In [38]:
n = zip(ages, names)
dict(n)

{19: 'Bill', 37: 'Elon', 40: 'Jenny', 62: 'Melanie', 31: 'Melissa', 33: 'Tim'}

In [39]:
# Eintrag nach Eintrag von mehreren Listen
for age, name in zip(ages, names):
    print(f'{name} ist {age} Jahre alt.')

Bill ist 19 Jahre alt.
Elon ist 37 Jahre alt.
Jenny ist 40 Jahre alt.
Melanie ist 62 Jahre alt.
Melissa ist 31 Jahre alt.
Tim ist 33 Jahre alt.

#### Das if-Statement

Für logische Abfragen und Vergleiche gibt es auch in Python eine **if ... else** Kontrollstruktur. Sie funktioniert sowohl mit beiden vordefinierten boolschen Zuständen **`True`** und **`False`** als auch für Wertvergleiche etc.

Im Hinterkopf sollte man immer behalten, dass z.B. eine leere Liste `[]`, ein leeres Dictionary `{}`, oder die Ziffer `0` als `False` gewertet werden.

In [42]:
color_one = 'rot'.upper()
color_two = 'rOt'.upper()
print(color_one, color_two)
print(color_one == color_two)
a = 1
b = 2
print(a == b)
a < b, b >= a, a != b

ROT ROT
True
False

(True, True, True)

In [47]:
color_one = 'red'
color_two = 'red'

is_same = color_one == color_two
#wahr = True
#falsch = False
3 < 4
print(type(is_same))
is_same

<class 'bool'>

True

In [49]:
if color_one == color_two:
    print('Die Farben sind gleich.')
else:
    print('Die Farben sind unterschiedlich.')
print('Nach IF')

Die Farben sind gleich.
Nach IF

In [68]:
if not is_same:  # Der eigentliche Vergleich wurde in der Variable `is_same` gespeichert. Negieren ist möglich.
    print('Die Farben sind unterschiedlich.')

#### Funktionen

Wiederkehrende Codefragmente können und sollten zur Übersichtlichkeit, zur Wiederverwendbarkeit und zur Pflege des Codes in eigenständige Funktionen ausgelagert werden.

Einer Python-Funktion können Werte übergeben werden und sie kann Werte zurückgeben. Wie wir sehen werden, gibt es aber auch Funktionen, die weder das eine noch andere beinhalten.

In [51]:
def compare_colors(c_1, c_2):
    if c_1 == c_2:
        print('Die Farben sind gleich')
    else:
        print('Die Farben sind unterschiedlich')

In [54]:
compare_colors('green', 'red')

Die Farben sind unterschiedlich

In [55]:
compare_colors('yellow', 'yellow')

Die Farben sind gleich

In [57]:
def addition(n, m):
    return n + m

In [58]:
ergebnis = addition(12, 30)
farb_ergebnis = compare_colors("green", "green")
print(ergebnis)
print(farb_ergebnis)

Die Farben sind gleich
42
None

In [59]:
def oldest_person(names, ages):
    max_age = 0
    max_name = ''
    
    for name, age in zip(names, ages): 
        if age > max_age:
            max_name = name
            max_age = age
    
    return max_name, max_age

In [61]:
name, age = oldest_person(names, ages)
print(f'Die älteste Person heißt {name} und ist {age} Jahre alt.')

Die älteste Person heißt Melanie und ist 62 Jahre alt.

In [64]:
#(lambda x, y: x**y)(2, 10)



(lambda x, y: x**y)(3,10)

59049

In [65]:
def power(x, y):
    return int(x**y)

r = power(3, 10)
r

59049

In [74]:
print (r)

1024

In [66]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp_list = []
for elem in list_1:
    neu_elem = elem**3
    temp_list.append(neu_elem)
temp_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [68]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(ages)
temp_list = list(map(lambda x: x**3, ages))
temp_list

[19, 37, 40, 62, 31, 33]

[6859, 50653, 64000, 238328, 29791, 35937]


#### Extra: List comprehensions

Eine besondere Kombination aus Kontrollstruktur und Datentyp sind [**List comprehensions**](https://docs.python.org/2/tutorial/datastructures.html#list-comprehensions). Hier werden tief in der Sprache verankerte, extrem effiziente Mechanismen genutzt, um existierende Listen zu bearbeiten und neue Listen zu erzeugen. 

Ein Beispiel zeigt am Besten wie es geht: Aus einer Liste mit allen Zahlen von 0 bis 10000 sollen die geraden Zahlen quadriert und in eine neue Liste geschrieben werden.

In [90]:
list(range(1, 10, 3))

[1, 4, 7]

In [69]:
my_list = list(range(0, 10000, 1))  # Eine Liste mit allen Zahlen von 0 bis 9999
my_list[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
%%timeit -r 10 -n 1 # Mittelung über zehn Wiederholungen
new_list_1 = []

for item in my_list:
    if item % 2 == 0:  # modulo 2
        new_list_1.append(item * item)

print(new_list_1[:20])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
The slowest run took 5.97 times longer than the fastest. This could mean that an intermediate result is being cached.
2.41 ms ± 1.39 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [97]:
print(new_list_1)

NameError: name 'new_list_1' is not defined

In [74]:
%%timeit -r 10 -n 1 # Mittelung über zehn Wiederholungen

#[mache das for element in liste if bedigung]

new_list_2 = [item * item for item in my_list if item % 2 == 0]


print(new_list_2[:20])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444]
692 µs ± 52.4 µs per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [100]:
%%timeit -r 10 -n 1
new_list_3 = [item * item for item in range(10000) if item % 2 == 0]

1.13 ms ± 680 µs per loop (mean ± std. dev. of 10 runs, 1 loop each)